html, body {
  height: 100%;
  background-color: black;
  color: white;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.enable-selection {
     -moz-user-selet: all; /* Firefox */
      -ms-user-select: all; /* Internet Explorer */
   -khtml-user-select: all; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: all; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: all; /* Disable Android and iOS callouts*/
}


#thumbnails {
  z-index: 2;
  margin: 8px;
  width: 100%;
  min-width: 100%;
  height: 144px;
  overflow: hidden;
  background-color: black;
  overflow-x: auto;
}

#thumbnails a.landscape {
  height: 120px;
  width: 192px;
}

#thumbnails a.portrait {
  width: 75px;
  height: 120px;
}

#thumbnails a {
  margin: 4px;
  position: relative;
  display: inline-block;
  cursor: pointer;

}

/*
#thumbnails a.landscape i {
  line-height: 120px;
}
#thumbnails a.portrait i {
  line-height: 120px;
}
*/

#thumbnails a i {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  position: absolute;
  font-family: FontAwesome;
  font-size: 60px;
  font-style: normal;
  text-shadow: 2px 2px 5px black;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0.4;
  left: 0;
  border: 1px solid rgba(255,255,255,0.6);
}

#thumbnails a:link, #thumbnails a:visited {
  color: white;
}

#thumbnails a:hover i {
  border: 1px solid rgba(255,255,255,0.8);
  opacity: 0.95;
}

#thumbnails a:active i {
  border: 1px solid white;
  opacity: 1.0;
  transform: scale(0.95);
}

#thumbnails a[data-pose] i {
  opacity: 0.9;
}

#thumbnails a.selected i, #thumbnails a.selected i {
  border-color: yellow;
}

iframe.target {
  z-index: 0;
  position: relative;
  background-color: black;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0px;
  margin: 0px;
}


div#mapwrap {
  visibility: hidden;
  position: absolute;
  bottom: 16px;
  left: 16px;
  height: 192px;
  width: 256px;
  background-color: white;
  z-index: 4;
}

div#map {
  height: 192px;
}

div#mapwrap.visible {
  visibility: hidden;

}

@media screen and (min-width: 768px) and (min-height: 455px) {
  div#mapwrap.visible {
    visibility: visible;
  }
}


.disabled #thumbnails, .disabled #mapwrap, .disabled#iframe {
  pointer-events: none;
}



