[submodule "js/thirdparty/blueimp-load-image"]
	path = js/thirdparty/blueimp-load-image
	url = https://github.com/doxel/JavaScript-Load-Image
[submodule "js/thirdparty/history.js"]
	path = js/thirdparty/history.js
	url = https://github.com/browserstate/history.js
[submodule "js/thirdparty/malihu-custom-scrollbar"]
	path = js/thirdparty/malihu-custom-scrollbar
	url = https://github.com/bugdanov/malihu-custom-scrollbar-plugin.git
